{% extends 'landing_page_app/administration.html' %}
{% block head_block %}
    <title>Login</title>
{% endblock head_block %}

{% block body_block %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="row">
            <div class="container-fluid py-5 col-md-4 col-sm-6">
                {% if user.is_authenticated %}
                    <h1 class="display-6 fw-bold text-center">Grazie per aver effettuato l'accesso</h1>
                {% else %}
                    <h1 class="display-6 fw-bold text-center mb-5">Accesso Amministratore</h1>
                    <form action="{% url "user_login" %}" method="POST" id="login">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <button type="submit" class="btn btn-primary float-end">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body_block %}

{% block script_block %}
<script>
    const addClass = (selector, class_) => $(selector).each((i, el) => $(el).addClass(class_));

    addClass("#login > div", 'mb-5');
    addClass("#login label", 'form-label');

    $("div.helptext").remove();
</script>
{% endblock script_block %}